@page "/report/{id:int}"

@if( TemplateDto != null && TemplateDto?.LayoutId == 1)
{
    <PreparationReport></PreparationReport>
}

else
{
   <EditForm Model="ReportDto" OnValidSubmit="OnParametersSetAsync">
        <DataAnnotationsValidator />
       
            <div>


            <div class="container  info-form">
                <div class=" text-center">
                    <h2 class="text-center">@ReportDto?.Title </h2>
                </div>
                @*<div class=" text-center">
                    <h3>@ReportDto?.Description</h3>
                </div>*@
            </div>
        </div>
        <div>
            <div class="container">
                <div>
                    <label>Ankomst</label>
                    <InputDate @bind-Value="@ReportDto.Date" placeholder="Start Dato">@ReportDto.Date</InputDate>
                </div>
            </div>
            <div class="container ">
                <div class="col-12 row">
                    <table>
                        <thead>
                            <tr>
                                <th class="col-6 border ">Titel</th>
                                <th class="col-6 border">Beskrivelse</th>

                            </tr>
                        </thead>
                        <tbody>

                            @if (ReportDto.ReportGroups != null)
                            {
                                @foreach (var group in ReportDto.ReportGroups)
                                {
                                    <tr>
                                        <td class="col-3 border">
                                            @(group?.Titel ?? "")
                                        </td>
                                       
                                    </tr>

                                    @if (group.Elements != null)
                                    {

                                        @foreach (var fields in group.Elements)
                                        {
                                            <tr>
                                                <td class="col-6 border font-weight-bold">
                                                    Titel
                                                </td>
                                                <td class="col-6 border font-weight-bold">
                                                    Beskrivelse
                                                </td>
                                                <td class="col-6 border font-weight-bold">Datatype</td>
                                                <td class="col-6 border font-weight-bold">Ok/Ej ok</td>
                                                <td class="col-6 border font-weight-bold"> Bemærkninger</td>
                                            </tr>

                                            <tr>
                                                <td class="col-6 border">
                                                    @(fields?.Titel ?? "")
                                                </td>
                                                <td class="col-6 border">
                                                    @(fields?.Description ?? "")
                                                </td>
                                              @*  <td class="col-xl-12 border">
                                                    <InputSelect placeholder="DataType" @bind-Value="@fields.DataType" disabled="@(ReportDataDto.IsReadonly)">
                                                        @foreach (DataTypeEnum type in Enum.GetValues(typeof(DataTypeEnum)))
                                                                        {
                                                            <option value="@(type) ">@type</option>
                                                                        }
                                                    </InputSelect>
                                                </td>*@
                                                <td class="col-xl-12 border">
                                                    <InputSelect placeholder="Type" @bind-Value="@fields.Options" disabled="@(ReportDto.IsReadOnly)">
                                                        @foreach (OptionsEnum options in Enum.GetValues(typeof(OptionsEnum)))
                                                                        {
                                                            <option value="@(options) ">@options</option>
                                                                        }
                                                    </InputSelect>
                                                </td>
                                                <td class="col-12 border">
                                                    <InputText @bind-Value="@fields.Remarks" placeholder="Bemærkninger" disabled="@(ReportDto.IsReadOnly)"></InputText>
                                                </td>
                                            </tr>
                                        } @* forache fields *@
                                    } @* if group*@
                                } @* forache groups *@
                            } @* if report *@
                        </tbody>
                    </table>
                </div>
               @* <div class="container">
                    <div class=" row col-12">
                        <InputTextArea class="col-12" @bind-Value="@ReportFieldDto.Notes" placeholder="Noter fra værksted" disabled="@(ReportDataDto.IsReadonly)">@ReportFieldDto.Notes</InputTextArea>
                    </div>
                </div>*@
            </div>
        </div>
     @*   <div class="container">
            <div class=" row col-6">
                <label>Låst</label>
                <InputCheckbox @bind-Value="@(ReportDto.IsReadOnly)"> @ReportDto.IsReadonly</InputCheckbox>
            </div>
        </div>*@
        <ValidationSummary />
    </EditForm>
    <EditForm Model="ReportDto">
        <div class="container">
            <div class="col-12 text-right">
                <button class="btn btn-outline-primary" @onclick="(() => ValidSubmit(ReportDto))">
                    Gem 
                </button>
            </div>
        </div>
        <div class="container">
            <div class="col-12 text-right">
                <button class="btn btn-outline-danger" @onclick="(() => DeleteReport(Id))">
                   Slet
                </button>
            </div>
        </div>
    </EditForm>  
}

    


   

 

   
