@page "/template/{id:int}"


   <EditForm Model="@TemplateDto" OnValidSubmit="@OnInitializedAsync">
       <DataAnnotationsValidator/>
       <div class="col-md-12">
           <label for="titel">Titel</label>
           <InputText id="titel" @bind-Value="@TemplateDto.Title"  class="form-control"></InputText>
       </div>
            <br />
           <div class="container">
            <div class="col-12 text-center align-content-center">
                <button class="btn btn-primary" @onclick="(() => ValidSubmit(TemplateDto))">
                    Opret Rapport
                </button>
            </div>
        </div>
       <div class="col-md-3">
                <label for="layoutId">Layout Id</label>
       <InputNumber id="layoutId" @bind-Value="TemplateDto.LayoutId" class="form-control"></InputNumber>
       </div>
            <div class="container">
                <div >
                    <table>
                        <thead>
                            <tr class="row align-items-lg-baseline">
                                <MudBlazor.MudInputLabel>Gruppe</MudBlazor.MudInputLabel>
                                <th class="col-md-2 top-row border text-dark">Id</th>
                                <th class="col-md-4 top-row border text-dark">Titel</th>
                                <th class="col-md-6 top-row border text-dark">Beskrivelse</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (TemplateDto.TemplateGroups != null)
                            {
                           
                                     @foreach (var group in TemplateDto.TemplateGroups)
                                {
                                    
                                    <tr class="row align-content-lg-center">
                                        <td class="col-md-2">
                                            <label> @(group.Id)</label>
                                        </td>
                                        <td class=" col-md-4">
                                           
                                            <InputTextArea  type="text" class="form-control" placeholder="Titel" @bind-Value="group.Titel">@(group?.Titel ?? "")</InputTextArea>
                                        </td>
                                        <td class=" col-md-6">
                                            <InputTextArea  type="text"
                                                           class="form-control"
                                                           placeholder="Beskrivelse"
                                                           @bind-Value="@group.Description"
                                                           rows="3">@(group.Description ?? "")</InputTextArea>
                                        </td>                                                                                   
                                        <td col-md-4>
                                            <button class="btn btn-outline-danger"
                                                    @onclick="(() => DeleteGroup(group.Id))">
                                                Slet
                                            </button>


                                        </td>

                                    </tr>
                                    <tr class="container">

                                        @if (group.Elements!= null)
                                        {

                                        <tr class="row align-items-lg-center">
                                            <MudBlazor.MudInputLabel>Elementer</MudBlazor.MudInputLabel>
                                            <th class="col-md-2 top-row border text-dark">Id</th>
                                            <th class="col-md-4 top-row border text-dark">Titel</th>
                                            <th class="col-md-6 top-row border text-dark">Beskrivelse</th>
                                            <th class="col-md-3 top-row border text-dark"> DataType</th>
                                        </tr>


                                        @foreach (var elements in group.Elements)
                                        {
                                            <tr class="row">
                                                <td class="col-md-2">
                                                    <label> @(elements.Id)</label>
                                                </td>
                                                <td class="col-md-4">
                                                    <InputText placeholder="Titel"
                                                               @bind-Value="@elements.Titel">@(elements?.Titel ?? "")</InputText>
                                                </td>
                                                
                                                
                                              
                                                <td class="col-md-6">
                                                    <InputTextArea placeholder="Beskrivelse"
                                                                   @bind-Value="@elements.Description">@(elements?.Description ?? "")</InputTextArea>
                                                </td>
                                                <td class="col-md-3">
                                                    <InputSelect placeholder="Type" @bind-Value="@elements.Datatype">
                                                        @foreach (DataTypeEnum datatype in Enum.GetValues(typeof(DataTypeEnum)))
                                                                        {
                                                            <option value="@((int) datatype)">@datatype</option>

                                                                        }
                                                    </InputSelect>
                                                </td>
                                                <td>
                                                    <button class="btn btn-outline-danger"
                                                            @onclick="(() => DeleteField(elements.Id))">
                                                        Slet Element
                                                    </button>
                                                </td>
                                            </tr>
                                        }@* Forache fields *@
                                           <tr class="container">
                                            <td class="col-sm-6 text-right">
                                                <div class="col-1"
                                                        type="button"
                                                        @onclick="(() => OnSubmit(group.Id))">
                                                    Nyt felt
                                                </div>
                                            </td>
                                        </tr>
                                    } @* if groups *@
                                        </tr>
                                     
                                    }@* forache groups  *@
                             
                               

                                }@* if template *@
                        </tbody>

                    </table>
                    </div>
                </div>
                     
    </EditForm>
    <EditForm Model="TemplateDto">
        <div class="container">
            <div class="col-sm-6 text-right">
                <div @onclick="@HandleValidSubmit" class="col-md-4">Opret gruppe</div>
            </div>
        </div>
   </EditForm>
       <EditForm Model="UpdateTemplate">
        <br />
        <div class="container">
            <div class="col-12 text-right align-content-center">
                <button class="btn btn-outline-primary" @onclick="(() => UpdateTemplate(Id))">
                    Gem skabelon
                </button>
            </div>
        </div>  
    </EditForm>
    <EditForm Model="TemplateDto">
             <div class="container">
                 <br /><br />
            <div class="col-12 text-right align-content-lg-end">
                <button class="btn btn-outline-danger" @onclick="(() => DeleteTemplate(TemplateDto))">
                    Slet Skabelon
                </button>
            </div>
        </div>
    </EditForm>
