@page "/template/{id:int}"


   <EditForm Model="@TemplateDto" OnValidSubmit="@OnInitializedAsync">
       <DataAnnotationsValidator/>
       <MudGrid>
           <MudContainer>
               <MudTextField Label="Titel" @bind-Value="TemplateDto.Title" For="(() => TemplateDto.Title)"></MudTextField>
               <MudNumericField Label="LayoutId" @bind-Value="TemplateDto.LayoutId" For="(() => TemplateDto.LayoutId)" HelperText="Minimum value is 1."></MudNumericField>
               @if(TemplateDto.TemplateGroups != null)
            {
                @foreach(var groups in TemplateDto.TemplateGroups)
                {
                    <label> Grupper</label>
                    <br />
                    <MudTextField Label="Titel" @bind-Value="groups.Titel" For="(() => groups.Titel)"></MudTextField>
                    <br />
                    <br />
                            <MudButton @onclick="(() => DeleteGroup(groups.Id))"
                                Variant="Variant.Filled" 
                                StartIcon="@Icons.Material.Filled.Delete"
                                Color="Color.Error">Delete</MudButton>
                                <br />

                    @if(groups.Elements != null)
                    {
                        @foreach(var element in groups.Elements)
                        {
                            <br />
                            <label>Elementer</label>
                            <br />
                            <MudTextField Label="Titel" @bind-Text="element.Titel" For="(() => element.Titel)"></MudTextField>
                            <br />
                            <MudTextField Label="Bemærkninger" @bind-Value="element.Description" For="(() => element.Description)"></MudTextField>
                            <br />
                            <MudButton @onclick="(() => DeleteField(element.Id))"
                                Variant="Variant.Filled" 
                                StartIcon="@Icons.Material.Filled.Delete"
                                Color="Color.Error">Delete</MudButton>
                                <br />
                        
                        <br />
                            
                            }
                        <br />
              <MudButton @onclick="(() => OnSubmit(groups.Id))">
                            Opret ny Element
                        </MudButton>
                        
                    }
                    <br />
                          
                 
            }
               <MudButton @onclick="(() => HandleValidSubmit(TemplateDto.Id))">
                            Opret ny gruppe
                        </MudButton>
                         <br />
            }
            <br />
         <MudButton Class="align-content-center" 
         @onclick="(() => UpdateTemplate(TemplateDto.Id))"
             Variant="Variant.Filled" 
             StartIcon="@Icons.Material.Filled.Save" 
             Color="Color.Info"  
             Size="Size.Small">Save</MudButton>
             <br /> <br /><br />
              <MudButton 
                  Class="align-content-center"
                  @onclick="(() => ValidSubmit(TemplateDto))">
                            Opret rapport
                        </MudButton>
                          <br /> <br /><br />
             <label>Slet Skabelon</label>
                         <MudButton 
                             Class="align-content-end"
                             @onclick="(() => DeleteTemplate(TemplateDto))"
                            
                                Variant="Variant.Filled" 
                                StartIcon="@Icons.Material.Filled.Delete"
                                Color="Color.Error">Delete</MudButton>
        </MudContainer>
           
       </MudGrid>
       
    </EditForm>    


