@inherits ReportBase

@page "/report/preparation/{id:int}"

<h3 class="justify-content-center">@reportDto.Title</h3>

<EditForm Model="@reportDto" OnValidSubmit="@OnInitializedAsync">
    <DataAnnotationsValidator/>
    <MudCard>
        <MudCardContent>
            <MudGrid>
      
                            @if(reportDto.ReportGroups != null)
            {
                @foreach(var groups in reportDto.ReportGroups)
                {
                    <br /><br />
                      <MudTextField Label="Titel" @bind-Value="groups.Titel" For="@(() => groups.Titel )"></MudTextField>
                      <br /> <br />
                      @if(groups.Elements != null)
                        {
                            @foreach(var element in groups.Elements)
                            {<br />
                            
                                    <br>
                                <MudTextField Label="Titel" @bind-Value="element.Titel" For="(() => element.Titel)"></MudTextField>
                                 <br>
                                <MudTextField Label="Bemærkninger" @bind-Value="element.Remarks" For="(() => element.Remarks)"></MudTextField>
                                 <br>
                                <MudNumericField Label="Antal" @bind-Value="element.Numbers" For="(() => element.Numbers)"></MudNumericField>
                               <br/>
                                
                       
                            }
                        }
                    }
            }
              </MudGrid> 
             <br> <br>
                              <div class="mb-0">
            <label for="imageUrl">Image Url</label>
            <InputText id="imageUrl" @bind-Value="reportDto.ImageUrl" class="form-control"></InputText>
        </div>        <div class="mb-0" style="display: flex; flex-wrap: wrap; flex-direction: row; justify-content: center;">
            @if (!string.IsNullOrEmpty(reportDto.ImageUrl))
            {
                <img src="@reportDto.ImageUrl" />
            }
            else
            {
                foreach (var image in reportDto.Images)
                {
                    <MudCard Class="ma-2">
                        <MudCardContent>
                            <MudImage Src="@image.Img" />
                        </MudCardContent>
                        <MudCardActions Style="justify-content: center;">
                            <MudButton Variant="Variant.Filled"
                           Color="Color.Error"
                           OnClick="@(() => RemoveImage(image.Id))">
                                Remove
                            </MudButton>
                        </MudCardActions>
                    </MudCard>
                }
            }
        </div>

           
                                 <br>
            <MudButton 
                @onclick="(() => SendMail())"
                Variant="Variant.Filled" 
                EndIcon="@Icons.Material.Filled.Send" 
                Color="Color.Primary">Send</MudButton>
                 <br> <br>
               <div class=" align-content-sm-center">
                       <MudButton 
                @onclick="(() => Save(reportDto.Id))"
                Variant="Variant.Filled" 
                EndIcon="@Icons.Material.Filled.Save" 
                Color="Color.Primary">Gem</MudButton>
               </div>
            
   <MudButton @onclick="@(() => ExportToPdf(reportDto.Id))">pdf</MudButton>
        </MudCardContent>
    </MudCard>
    <ValidationSummary/>
</EditForm>

